.vs/
.idea/
libANGLE.lib

.gitignore
.git

out/

*dSYM

cmake_install.cmake

CMakeSettings.json

.*

dll/

Makefile

player.js
player.wasm

standalone.pl

lib/
winlib/
emscripten/

